<%= form_with model: @account, url: username_path, scope: :account, local: true do |f| %>
  <div class="input-field">
    <%= f.label(:username) %>
    <div class="input-group">
      <span class="input-addon">@</span>
      <%= f.text_field(
          :username,
          required: 'required',
          pattern: '^[a-zA-Z0-9_]+$',
          maxlength: 100,
          data: {
            bind_to: '.input-hint .username'
          }
        )
      %>
    </div>
    <p class="input-hint">
      <%= t('accounts.profiles.edit.hints.username', url: root_url, username: @account.username).html_safe %>
    </p>
  </div>

  <div class="actions">
    <%= f.button t('accounts.usernames.new.set_username'), class: 'btn--primary' %>
  </div>
<% end %>
